# Core Data
numpy==1.26.4
pandas==2.2.2
scipy==1.13.1

# Visualization
matplotlib==3.9.0
seaborn==0.13.2
plotly==5.22.0

# Machine Learning
scikit-learn==1.5.0
imbalanced-learn==0.12.3

# Model Persistence
joblib==1.4.2

# App / UI
streamlit==1.35.0
gradio

# Utilities
tqdm==4.66.4
ipywidgets